div.logo,
footer {
  font-family: "Caveat", cursive;
}

div.logo {
  font-size: 2rem;
}

* {
  transition: all .2s;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */

button, input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

div,
p {
  font-family: "Abel", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tagline {
  font-family: "Abel", sans-serif;
  font-weight: 600;
}

h1.large {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1.large {
    font-size: 3rem;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid-3 {
  grid-gap: 1rem;
  /* gap of 2rem between grid items */
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.grid-2 {
  grid-gap: 2.5rem;
  /* gap of 2rem between grid items */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.navbar {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar .container {
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #B9B8B8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23B9B8B8'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23dcdcdc'/%3E%3Cstop offset='1' stop-color='%23B9B8B8'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(1020 0)'%3E%3Cg transform='translate(0 990)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg %3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.54' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.cover {
  min-height: calc(100vh - 5rem);
}

.\$flex {
  display: flex;
}

.tagline {
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.\$flex.row {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .\$flex.row {
    flex-direction: row;
  }
}

.\$flex.wrap {
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 768px) {
  .\$flex.wrap {
    flex-direction: row;
  }
}

.\$flex.row-p {
  flex-direction: row;
  align-items: center;
}

.navigation {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .navigation {
    margin-bottom: auto;
  }
}

.navigation ul li a {
  padding: .6rem 1rem;
  text-decoration: none;
  display: block;
  color: black;
}

.navigation ul li a:hover {
  background-color: grey;
  color: white;
  margin-left: 1.25rem;
  border-radius: 2rem;
}

.white-text {
  color: white;
}

.search input, .search button {
  height: 2rem;
}

.search input {
  outline: .1rem solid grey;
  position: relative;
  order: 2;
  --tw-translate-x: -50px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 2rem;
  padding-left: 2.3rem;
}

.search button {
  margin-top: 2px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  padding: 0.25rem;
  transform: translate(calc(100% + 1px), -1.9%);
  background-color: grey;
}

.action-btn {
  padding: .6rem 1.5rem;
  outline: .1rem solid grey;
  margin-left: 1.25rem;
  border-radius: 2rem;
}

.px-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pr-1\.5rem {
  padding-right: 1.5rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.gap-4rem {
  gap: 4rem;
}

.grey {
  background-color: rgb(151, 151, 151, 0.6);
}

header {
  margin-top: 1rem;
}

.blog-card {
  position: relative;
}

.tagline {
  position: absolute;
  background-color: grey;
  color: white;
}

.blog-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

section.latest .blog-card:nth-child(3n - 1) {
  background-color: rgba(255, 0, 0, 0.311);
  /* margin: auto 1rem; */
}

.gap-3rem {
  gap: 1rem;
}

@media (min-width: 768px) {
  .gap-3rem {
    gap: 3rem;
  }
}

.gap-\[10\%\] {
  gap: 10%;
}
