div.logo,
footer {
  font-family: "Caveat", cursive;
}

div.logo {
  font-size: 2rem;
}

* {
  transition: all .2s;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */

button, input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

div,
p {
  font-family: "Abel", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tagline {
  font-family: "Abel", sans-serif;
  font-weight: 600;
}

h1.large {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1.large {
    font-size: 3rem;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid-3 {
  grid-gap: 1rem;
  /* gap of 2rem between grid items */
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.grid-2 {
  grid-gap: 2.5rem;
  /* gap of 2rem between grid items */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.navbar {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar .container {
  align-items: center;
  justify-content: space-between;
}

.cover {
  min-height: calc(100vh - 5rem);
}

.\$flex {
  display: flex;
}

.tagline {
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.\$flex.row {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .\$flex.row {
    flex-direction: row;
  }
}

.\$flex.wrap {
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 768px) {
  .\$flex.wrap {
    flex-direction: row;
  }
}

.\$flex.row-p {
  flex-direction: row;
  align-items: center;
}

.navigation {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .navigation {
    margin-bottom: auto;
  }
}

.navigation ul li a {
  padding: .6rem 1rem;
  text-decoration: none;
  display: block;
  color: black;
}

.navigation ul li a:hover {
  background-color: grey;
  color: white;
  margin-left: 1.25rem;
  border-radius: 2rem;
}

.white-text {
  color: white;
}

.search input, .search button {
  height: 2rem;
}

.search input {
  outline: .1rem solid grey;
  position: relative;
  order: 2;
  --tw-translate-x: -50px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 2rem;
  padding-left: 2.3rem;
}

.search button {
  margin-top: 2px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  padding: 0.25rem;
  transform: translate(calc(100% + 1px), -1.9%);
  background-color: grey;
}

.action-btn {
  padding: .6rem 1.5rem;
  outline: .1rem solid grey;
  margin-left: 1.25rem;
  border-radius: 2rem;
}

.px-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pr-1\.5rem {
  padding-right: 1.5rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.gap-4rem {
  gap: 4rem;
}

.grey {
  background-color: rgb(151, 151, 151, 0.6);
}

header {
  margin-top: 1rem;
}

.blog-card {
  position: relative;
}

.tagline {
  position: absolute;
  background-color: grey;
  color: white;
}

.blog-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

section.latest .blog-card:nth-child(3n - 1) {
  background-color: rgba(255, 0, 0, 0.311);
  /* margin: auto 1rem; */
}

.gap-3rem {
  gap: 1rem;
}

@media (min-width: 768px) {
  .gap-3rem {
    gap: 3rem;
  }
}

.gap-\[10\%\] {
  gap: 10%;
}
