<!DOCTYPE html>
<html>
  <head th:replace="~{_fragments::head(title=~{null}, author=~{null}, keywords=~{null}, desc=~{null})}"></head>
  <body>
    <section id="section-1">
      <!-- NAV -->
      <nav th:replace="~{_fragments::navbar()}"></nav>

      <!-- HEADER -->
      <header>
        <div class="header-wrapper blog">
          <h6><span th:text="${post.author.firstName} + ' ' + ${post.author.lastName}" ></span></h6>
          <h1 th:text="${post.title}">How to Hate Many People</h1>
          <h4 th:text="${post.summary}">The latest news to drive your business</h4>

          <span th:text="${post.url}" class="tags">Food</span>
        </div>
      </header>

      <!-- ARTICLES -->
      <div class="content-wrapper">
        <div class="cover-img-wrapper">
          <img class="cover-img" th:src="${post.featuredImage}" alt="cover image" />
        </div>

        <div th:utext="${post.body}"></div>
      </div>
    </section>
    <div th:insert="~{_fragments::footer_script}"></div>
  </body>
</html>

