<!DOCTYPE html>
<html>
  <head th:replace="~{_fragments::head(title=~{null}, author=~{null}, keywords=~{null}, desc=~{null})}"></head>
  <body>
    <div class="cover container">
      <!-- NAV -->
      <nav th:replace="~{_fragments::navbar}"></nav>

      <!-- HEADER -->
      <header>
        <div class="header-wrapper">
          <h1>Error</h1>
          <h2 th:text="${error}"></h2>
        </div>
      </header>
    </div>
    <div th:insert="~{_fragments::footer_script}"></div>
  </body>
</html>

